Django==5.1.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.6.0
psycopg2-binary==2.9.9
celery==5.4.0
redis==5.2.1
django-redis==5.4.0
channels==4.1.0
channels-redis==4.2.0
Pillow==11.1.0
django-storages==1.14.4
boto3==1.35.36
cloudinary==1.41.0
argon2-cffi==23.1.0
cryptography==43.0.3
pyotp==2.9.0
requests==2.32.3
python-decouple==3.8
dj-database-url==2.3.0
gunicorn==23.0.0
uvicorn==0.32.1
whitenoise==6.8.2
django-filter==24.3
djangorestframework-csv==3.0.2
openpyxl==3.1.5
reportlab==4.2.5
WeasyPrint==62.3
pytest==8.3.3
pytest-django==4.9.0
factory-boy==3.3.1
drf-nested-routers==0.95.3
